<h4 class="order_header text-center">Orders History</h4><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Order</th>
      <th>Total Quantity</th>
      <th>Time</th>
      <th>Total Amount</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>Order: <%= order.id %></td>
        <td>N- <%= order.total || 0.0 %></td>
        <td><%= time_ago_in_words(order.created_at, include_seconds: true) + " ago" %></td>
        <td><%= order.status %></td>
      </tr>
      <!-- =================================== -->
      

    <% end %>
  </tbody>
</table>
 