<%#= link_to "generate pdf", orders_history_path(format: :pdf) %>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>


<h4 class="order_header text-center">Orders History</h4><br>
<table class="table table-hover" id="example">
  <thead>
    <tr>
      <!-- <th>Order</th> -->
      <th>Product Name</th>
      <th>Date&Time</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @cart_itemsr1 = current_user.orders.where(cart_id: current_user.cart.id).first %>
    <%# @cart_itemsr2 = @cart_itemsr1.cart %>
    <%# @cart_itemsr = @cart_itemsr2.cart_items %>
    <% @cart_items.each do |cart_item| %>
    <%#byebug %>

      <tr>
        <!-- <td>Order: <%#= order.id %></td> -->
        <td><%= cart_item.product.name %></td>
        <td><%= Time.now.strftime "%a, %-d %b %Y %I:%M %p " %></td>
        <td><%= cart_item.product.price %></td>
        <!-- <td><%#= cart_item.product.total || 0.0 %></td> -->
        <!-- <td>N- <%#= order.total || 0.0 %></td>
        <td><%#= time_ago_in_words(order.created_at, include_seconds: true) + " ago" %></td>
        
        <td><%#= order.stripe_email%></td>
        <td><%#= order.status %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
 
<script type="text/javascript">
  $('#example').DataTable({
    dom: 'Bfrtip',
    buttons: [
        'copy', 'excel', 'pdf', 'csv'
    ]
} );
</script>