<p id="notice"><%= notice %></p>
  <div id="cart">
    <%  if current_cart.cart_items.present? %>
      <%= render 'cart', cart_items: current_cart.cart_items %>
    <% end %>
  </div>

<% if current_cart.cart_items.first.nil? %>
 <center>
      <img src="http://www.parinfurniture.com/assets/images/empty-cart_ee6141.png" style="height:177px;width:177px;"><br><br>
      <h3 class="text-center">Missing Cart Items?</h3><br>
     	<strong>You have no items in your cart. Start Adding !</strong><br>
     	<%= link_to 'Continue Shopping', root_path, :class => "btn btn--blue btn--stroke btn--stroke--2 px24 py12 txt-s round-full px36" %>
  </center>
<% end %>






