<p id="notice"><%= notice %></p>
<h1 class="text-center">Cart Items</h1><br>
  <div id="cart">
    <%  if current_cart.cart_items.present? %>
      <%= render 'cart', cart_items: current_cart.cart_items %>
    <% end %>
  </div>

<center>
 <%= link_to 'Continue Shopping', root_path, :class => 'btn btn-primary' %>
</center>






