<h1 class="text-center">Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, :class => 'btn aqua-gradient waves-effect waves-lighty' %> |
<%= link_to 'Back', products_path, :class => 'btn peach-gradient waves-effect waves-light' %>
